In [1]:
pizzas=["tikka","fajita","bbq","chicken","vegie"]
friend_pizzas=pizzas.copy()
pizzas.append("cheesy")
friend_pizzas.append("groomy")
print("my favourite pizzas are")
for a in pizzas:
    print(a)
print("my friend's favourite pizzas are")
for b in friend_pizzas:
    print(b)

my favourite pizzas are
tikka
fajita
bbq
chicken
vegie
cheesy
my friend's favourite pizzas are
tikka
fajita
bbq
chicken
vegie
groomy

In [2]:
current_users=['Hamza','Laiba','Ahsan','Zoya','Umer','Rida']

new_users=['Ali','Fatima','Hamza','Tooba','Azhar','Khani','Ahsan']

for a in new_users:
    if a in current_users:
        print("the username "+a+" is unavailable because it already exists")
    else:
        print("the username "+a+" is added to database")

the username Ali is added to database
the username Fatima is added to database
the username Hamza is unavailable because it already exists
the username Tooba is added to database
the username Azhar is added to database
the username Khani is added to database
the username Ahsan is unavailable because it already exists

In [3]:
s="Pakistan"
s[3]

'i'

In [4]:
s.find("a")

1

In [5]:
s.index("k")

2

In [6]:
s[-1]

'n'

In [7]:
name="saaaad"
f_name="ali"
print("My friend name is "+ name+" and his father name is "+f_name)

My friend name is saaaad and his father name is ali

In [8]:
print("My friend name is {} and his father name is {}".format(name,f_name))

My friend name is saaaad and his father name is ali

In [9]:
print(f"My friend name is {name} and his father name is {f_name} ")

My friend name is saaaad and his father name is ali

In [10]:
num=45
name='asad'

print(f"my name is {name} and my number is {num} num")

my name is asad and my number is 45 num

In [11]:
person= "Nasir"

In [12]:
print('my name is {}'.format(person))

my name is Nasir

In [13]:
print(f"my name is {person}")

my name is Nasir

In [14]:
d={'a':123, 'b':456, 'c':789}

In [15]:
print(f"my number is {d['a']}")

my number is 123

In [16]:
myList =[1,2,3]

In [17]:
print(f'my number is {myList[2]}')

my number is 3

In [18]:
library=[('Author','Topic','Pages'),('Nasir','DeepLearning')]

# Tupple is immutable

In [19]:
myTupple = ("apple", "oranges", "pineapple")

In [20]:
type(myTupple)

tuple

In [21]:
myTupple[0]

'apple'

In [22]:
myTupple[1]

'oranges'

In [23]:
a=12

In [24]:
a

12

In [25]:
a = 12,2345 # packing of values

In [26]:
a

(12, 2345)

In [27]:
b,c=a

In [28]:
b

12

In [29]:
c

2345