# TUPLE

In [1]:
friends = ('Hamza' , 'Umer' , 'Zohaib' , 'Azhar' , 'Fahad')
print(friends[2])

Zohaib

In [2]:
cities=("Atlanta","Baltimore","Chicago","Denver","Los Angeles")
mycities=cities[4]
print("I belong to "+mycities.upper())

I belong to LOS ANGELES

In [3]:
tup1=('physics','chemistry',1997,2000)
tup2=(1,2,3,4,5,6,7)
print("tup1[0]: ",tup1[0])
print("tup2[1:5]: ",tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [4]:
tup1=(12,34.56)
tup2=('abc', 'xyz')


tup3=tup1+tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [5]:
tup = ('physics', 'chemistry', 1997, 2000)
print(tup)
del tup
print("After deleting tup : ")
print(tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

In [6]:
thistuple=("apple", "banana","cherry")
thistuple[1]="blackcurrant"
# The values will remain the same:
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [7]:
thistuple=("apple","banana","cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [8]:
thistuple=("apple","banana","cherry")
if "blackBerry" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

In [9]:
thistuple=("apple","banana","cherry")
if "strawberry" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")
else:
    print("No Strawberry in your tuple")

No Strawberry in your tuple

In [10]:
thistuple=("apple","banana", "cherry")
print(len(thistuple))

3

In [11]:
tup3 = "a", "b", "c", "d"
print(tup3)
print(type(tup3))

('a', 'b', 'c', 'd')
<class 'tuple'>

# Dictionaries

a= {'key':'value'}

In [12]:
alien_0={'color':'green','points':5}
print(alien_0['color'])
print(alien_0['points'])

green
5

In [13]:
alien_0={'color':'green','points':5}
new_points=alien_0['points']
print("You just earned "+str(new_points)+" points!")

You just earned 5 points!

In [14]:
#adding new key,value in dict
alien_0={'color':'green','points':5}
print(alien_0)
alien_0['x_position']=0
alien_0['y_position']=25
print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [15]:
foods={}
foods['karahi']=['favourite', 'peshawari','balochi']
foods['sheep']='Boti kabab'
foods['khawasa']='yummy'
foods['BBQ']='malai boti'
foods['shake']='chocolate'
foods['icecream']={'region':'Italian','type':'soft','flavours':['badami','kulfa','peshawari']}
print(foods)
foods['karahi'][1]
foods['icecream']['flavours'][1]

{'karahi': ['favourite', 'peshawari', 'balochi'], 'sheep': 'Boti kabab', 'khawasa': 'yummy', 'BBQ': 'malai boti', 'shake': 'chocolate', 'icecream': {'region': 'Italian', 'type': 'soft', 'flavours': ['badami', 'kulfa', 'peshawari']}}

'kulfa'

In [20]:
players={'Watson':'Australian International Cricketer'}
print("Shane Robert Watson is a " + players['Watson']+'.')

players={'Imam ul Haq': 'parchi'}
print("\nWe all know that Imam ul Haq is a " + players['Imam ul Haq'].upper() + ".")

Shane Robert Watson is a Australian International Cricketer.

We all know that Imam ul Haq is a PARCHI.

In [21]:
psl={'karachi': 'kings', 'multan':'sultan', 'zalmi': 'won'}
print("Karachi is: " + str(psl['karachi']))

if psl['zalmi'] =='loser':
    x_increment = 1
    
elif psl['zalmi'] == 'won':
    x_increment = 2

else:
    x_increment = 3
    
    
psl['zalmi']=psl['zalmi']+str(x_increment)
print("PSL4 zalmi : "+str(psl['zalmi']))

Karachi is: kings
PSL4 zalmi : won2

In [30]:
alien_0={'color':'green','points':5}
print("Color is: " + str(alien_0['color']))

if alien_0['points'] ==0:
    x_increment = 'loss'
    
elif alien_0['points'] == 5:
    x_increment = 'won'

else:
    x_increment = 'try again for better result'
    
    
alien_0['points']=alien_0['points'],x_increment
print("Your current points : "+str(alien_0['points']))

Color is: green
Your current points : (5, 'won')

In [16]:
myDic1={1:"Pk",2:"US"}

In [17]:
myDic2={"name":'Jahanzaib','f_name':'Ashraf'}

In [18]:
myDic4={}