In [1]:
import pandas as pd
import numpy as np
from numpy import nan

In [2]:
a = ["ahsan","ali",23,43]

In [3]:
obj1 = pd.Series([23,34,45,56,67])

In [4]:
obj1

0    23
1    34
2    45
3    56
4    67
dtype: int64

In [5]:
obj1[2]

45

In [6]:
obj1[5] = 90

In [7]:
obj1

0    23
1    34
2    45
3    56
4    67
5    90
dtype: int64

In [8]:
obj1.mean()

52.5

In [9]:
obj2 = pd.Series(["ahsan","ali","umer","taha"],index = ["a","al","u","t"])
obj2

a     ahsan
al      ali
u      umer
t      taha
dtype: object

In [10]:
obj2[2]

'umer'

In [11]:
obj2["u"]

'umer'

In [12]:
fruits = pd.Series(["bananas","orange",nan,"mango",nan])

In [13]:
fruits

0    bananas
1     orange
2        NaN
3      mango
4        NaN
dtype: object

In [14]:
fruits.dropna()

0    bananas
1     orange
3      mango
dtype: object

In [15]:
fruits.isnull()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [16]:
fruits.notnull()

0     True
1     True
2    False
3     True
4    False
dtype: bool

In [17]:
fruits[fruits.isnull()]

2    NaN
4    NaN
dtype: object

In [18]:
a = fruits[fruits.notnull()]

In [19]:
a

0    bananas
1     orange
3      mango
dtype: object

In [20]:
obj3 = pd.Series([1,nan,3,4,nan,6,7,nan,9])

In [21]:
mean = obj3.mean()
mean

5.0

In [22]:
obj3.fillna(mean)

0    1.0
1    5.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
7    5.0
8    9.0
dtype: float64

In [23]:
obj3.fillna("abc")

0      1
1    abc
2      3
3      4
4    abc
5      6
6      7
7    abc
8      9
dtype: object

In [24]:
money = pd.Series([1200,3459,5460,8790,4561])

In [25]:
money

0    1200
1    3459
2    5460
3    8790
4    4561
dtype: int64

In [26]:
dates = pd.date_range('2019-07-11' , '2019-07-15')
dates

DatetimeIndex(['2019-07-11', '2019-07-12', '2019-07-13', '2019-07-14',
               '2019-07-15'],
              dtype='datetime64[ns]', freq='D')

In [27]:
obj3 = pd.Series(money.values , index = dates)

In [28]:
obj3

2019-07-11    1200
2019-07-12    3459
2019-07-13    5460
2019-07-14    8790
2019-07-15    4561
Freq: D, dtype: int64

In [29]:
from pandas import Series, DataFrame

In [30]:
import pandas as pd

In [31]:
 obj = Series([4, 7, -5, 3])

In [32]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [33]:
 obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [34]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [35]:
 obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [36]:
 obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [37]:
 obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [38]:
obj2['a']

-5

In [39]:
obj2['d'] = 6

In [40]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

In [41]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [42]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [43]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [44]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [45]:
'b' in obj2

True

In [46]:
'e' in obj2

False

In [47]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [48]:
 obj3 = Series(sdata)

In [49]:
 obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [50]:
 states = ['California', 'Ohio', 'Oregon', 'Texas']

In [51]:
 obj4 = Series(sdata, index=states)

In [52]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [53]:
 pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [54]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [55]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [56]:
 obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [57]:
 obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [58]:
 obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [59]:
 obj4.name = 'population'

In [60]:
 obj4.index.name = 'state'

In [61]:
 obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [62]:
 obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

In [63]:
 obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64